<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p style='margin:0in;font-size:37px;font-family:"Calibri Light",sans-serif;'>Your Feng Shui Result</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Front Door Direction: [direction]</h2>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Move In Date: [moveInDate]</h2>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Predicted Year: [predictedYear]</h2>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>House Width: [houseWidth]</h2>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>House Length: [houseLength]</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
	<div style="align:center; width:100%">
    <table style="border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="border-color: currentcolor currentcolor black;border-style: none;border-width: medium medium 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0in 5.4pt;vertical-align: middle;">
                    <p style='line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                </td>
                <td style="border-color: currentcolor currentcolor windowtext;border-style: none none solid;border-width: medium medium 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0in 5.4pt;vertical-align: middle;">
                    <p style='line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>Front Door (N1)</p>
                </td>
                <td style="border-color: currentcolor currentcolor windowtext;border-style: none none solid;border-width: medium medium 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0in 5.4pt;vertical-align: middle;">
                    <p style='line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="[roomStyle00] border-color: black;border-style: solid;border-width: 2pt;border-image: none 100% / 1 / 0 stretch;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>1</h1>
                </td>
                <td style="[roomStyle01] border-color: black;;border-style: solid;border-width: 2pt;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>2</h1>
                </td>
                <td style="[roomStyle02] border-color: black;border-style: solid;border-width: 2pt;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>3</h1>
                </td>
            </tr>
            <tr>
                <td style="[roomStyle10] border-color: black;border-style: solid;border-width: 2pt;border-image: none 100% / 1 / 0 stretch;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>4</h1>
                </td>
                <td style="[roomStyle11] border-color: black;border-style: solid;border-width: 2pt;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>5</h1>
                </td>
                <td style="[roomStyle12] border-color: black;border-style: solid;border-width: 2pt;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>6</h1>
                </td>
            </tr>
            <tr>
                <td style="[roomStyle20] border-color: black;border-style: solid;border-width: 2pt;border-image: none 100% / 1 / 0 stretch;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>7</h1>
                </td>
                <td style="[roomStyle21] border-color: black;border-style: solid;border-width: 2pt;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>8</h1>
                </td>
                <td style="[roomStyle22] border-color: black;border-style: solid;border-width: 2pt;padding: 0in 5.4pt;vertical-align: middle;">
                    <h1 style='line-height:normal;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;text-align:center;'>9</h1>
                </td>
            </tr>
		</tbody>
    </table>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
    <h1 style='margin-top:12.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Summary</h1>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>[houseSummary]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
    <h1 style='margin-top:12.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:21px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Details</h1>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #1:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage00]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation00]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #2:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage01]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation01]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #3:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage02]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation02]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #4:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage10]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation10]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #5:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage11]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation11]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #6:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage12]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation12]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #7:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage20]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation20]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #8:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage21]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation21]</p>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:black;font-weight:normal;'>Room #9:</h2>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[roomMessage22]</p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:.5in;'>[recommendation22]</p>
	</div>
</body>
</html>